#timezone
TZ=

#connection
PORT=
HOST=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
SMTP_HOST=
SMTP_PORT=
DB_CONNECTION=

#secrets
APP_KEY=
LOG_LEVEL=
NODE_ENV=
DB_DATABASE=
REDIS_HOST=
REDIS_PORT=
REDIS_PSWD=
SMTP_USERNAME=
SMTP_PASSWORD=
JWT_SECRET=

#aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
